.header {
    width: 100vw;
    height:90px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00164f;
    color: #ffff;
}

.title {
    margin-left: 20px;
    font-weight: 600;
}

.ul-networks{
    display: flex;

    gap: 8px;
    margin-right: 20px;
}

.li-networks{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #00164f;
    background-color: #ffff;
}