* {
  margin:0;
  padding:0;
  list-style:none;
  vertical-align:baseline;
  font-family: "Archivo", sans-serif;
  }

  .form-container{
    display: flex;
    gap: 5px; /* Espaço entre os componentes */
    margin: 150px 150px 50px 150px;
  }